@media (min-width: 0px) and (max-width: 768px) {
  body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 100%;
    background-color: #ffffff;
    margin: 0 auto;
    -webkit-text-size-adjust: 100%;
  }
  tt {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  code {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  pre {
    font-family: 'Roboto Mono', monospace;
    margin: 0 16px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  blockquote {
    font-style: italic;
  }
  cite {
    font-style: italic;
  }
}
@media (min-width: 768px) and (max-width: 1536px) {
  body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 100%;
    background-color: #ffffff;
    width: 768px;
    margin: 0 auto;
    -webkit-text-size-adjust: 100%;
  }
  tt {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  code {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  pre {
    font-family: 'Roboto Mono', monospace;
    margin: 0 16px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  blockquote {
    font-style: italic;
  }
  cite {
    font-style: italic;
  }
}

@media (min-width: 1536px) {
  body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 100%;
    background-color: #ffffff;
    width: 768px;
    margin: 0 auto;
    -webkit-text-size-adjust: 100%;
  }
  tt {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  code {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  pre {
    font-family: 'Roboto Mono', monospace;
    margin: 0 16px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  blockquote {
    font-style: italic;
  }
  cite {
    font-style: italic;
  }
}
