<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ partial "common_head.html" . }}
  </head>
  {{ $dateFormat := "2006-01-02 15:04 -07:00" }}
  <body>
    <header>
      <h1>{{ .Title }} {{ .Site.Title }}</h1>
    </header>
    {{ range .Data.Pages }}
    <article>
      <small>{{ dateFormat $dateFormat .Date }}</small> <a href="{{ .Permalink }}">{{ .Title }}</a>
    </article>
    {{ end }}
    <footer>
      {{ partial "footer.html" . }}
    </footer>
    {{ partial "twemoji.html" . }}
  </body>
</html>
