<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ partial "common_head.html" . }}
    {{ if .Next }}<link rel="next" href="{{ .Next.Permalink }}" /> {{ end }}
    {{ if .Prev }}<link rel="prev" href="{{ .Prev.Permalink }}" /> {{ end }}
  </head>
  {{ $dateFormat := "2006-01-02 15:04 -07:00" }}
  <body>
    <header>
      <h1>{{ .Title }}</h1>
      <p>
        Created at <time>{{ dateFormat $dateFormat .Date }}</time><br />
        {{ if .Params.updated }}
        Updated at <time>{{ dateFormat $dateFormat .Params.updated }}</time><br />
        {{ end }}
      </p>
    </header>
    {{ if eq .Params.toc true }}
    <aside>
      {{ .TableOfContents }}
    </aside>
    {{ end }}
    <article>
      {{ .Content }}
    </article>
    <nav>
      {{ $baseURL := .Site.BaseURL }}
      {{ if .Params.tags }}Tags: {{ range .Params.tags }}<a href="{{ $baseURL }}/tags/{{ . | urlize }}/">{{ . }}</a> {{ end }}{{ end }}
      {{ if or .Prev .Next }}
      <p>
        {{ if .Next }}Newer post: <a href="{{ .Next.Permalink }}">{{ .Next.Title }}</a><br />{{ end }}
        {{ if .Prev }}Older post: <a href="{{ .Prev.Permalink }}">{{ .Prev.Title }}</a><br />{{ end }}
      </p>
      {{ end }}
      <p><a href="{{ .Site.BaseURL }}/">Back to home</a> <a href="{{ .Site.BaseURL }}/tags/">All tags</a></p>
    </nav>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
    {{ partial "twemoji.html" . }}
  </body>
</html>
