<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>{{ .Data.Singular }}: {{ .Title }} | {{ .Site.Title }}</title>
    {{ partial "common_head.html" . }}
  </head>
  {{ $dateFormat := "2006-01-02 15:04 -07:00" }}
  <body>
    <header>
      <h1>{{ .Data.Singular }}: {{ .Title }}</h1>
    </header>
    {{ range .Data.Pages }}
    <article>
      <small>{{ dateFormat $dateFormat .Date }}</small> <a href="{{ .Permalink }}">{{ .Title }}</a>
    </article>
    {{ end }}
    <nav>
      <p><a href="{{ .Site.BaseURL }}/">Back to Home</a> <a href="{{ .Site.BaseURL }}/tags/">All tags</a></p>
    </nav>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
    {{ partial "twemoji.html" . }}
  </body>
</html>
