<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>{{ .Data.Singular }}: {{ .Title }} | {{ .Site.Title }}</title>
    {{ partial "common_head.html" . }}
  </head>
  {{ $dateFormat := "2006-01-02 15:04 -07:00" }}
  <body>
    <header>
      <h1>{{ .Title }}</h1>
    </header>
    {{ $baseURL := .Site.BaseURL }}
    {{ $data := .Data }}
    {{ range $key, $value := .Data.Terms }}
    <a href="{{ $baseURL }}/{{ $data.Plural }}/{{ $key | urlize }}/">{{ $key }}</a> ({{ len $value }})
    {{ end }}
    <footer>
      {{ partial "footer.html" . }}
    </footer>
    {{ partial "twemoji.html" . }}
  </body>
</html>
