<meta charset="UTF-8" />
{{ if eq .Site.Params.robotsNoIndex true }}<meta name="robots" content="noindex" />{{ end }}
{{ if .Site.Params.author }}<meta name="author" content="{{ .Site.Params.author }}" />{{ end }}
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
{{ hugo.Generator }}
<link rel="canonical" href="{{ .Permalink }}" />
{{ if eq .Site.Params.useWebFont true }}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/earlyaccess/notosansjp.css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Mono:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" />
{{ end }}
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/style.css" />
<link rel="icon" href="/favicon.ico" />
