{{ if .Site.Params.copyright }}<small>{{ .Site.Params.copyright | safeHTML }}</small>{{ end }}
{{ if .Site.Params.licenseDescription }}<small>{{ .Site.Params.licenseDescription | safeHTML }}</small>{{ end }}
{{ if eq .Site.Params.showPoweredBy true }}<small>Powered by <a href="https://gohugo.io/">Hugo</a>.</small>{{ end }}
