{{ if eq .Site.Params.enableTwemoji true }}
<script src="//twemoji.maxcdn.com/twemoji.min.js"></script>
<script>
  twemoji.parse(document.body, {
    callback: function(icon, options, variant) {
      switch (icon) {
        case 'a9':      // © copyright
        case 'ae':      // ® registered trademark
        case '2122':    // ™ trademark
          return false;
      }
      return ''.concat(options.base, "16x16", '/', icon, options.ext);
    }
});
</script>
{{ end }}
