<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>404 Not Found | {{ .Site.Title }}</title>
    {{ partial "common_head.html" . }}
  </head>
  <body>
    <header>
      <h1>404 Not Found</h1>
    </header>
    <section>
      no such file or directory
    </section>
    <nav>
      <a href="{{ .Site.BaseURL }}/">Back to home</a>
    </nav>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
    {{ partial "twemoji.html" . }}
  </body>
</html>
