<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>{{ .Site.Title }}</title>
    {{ partial "common_head.html" . }}
  </head>
  {{ $dateFormat := "2006-01-02 15:04 -07:00" }}
  <body>
    <header>
      <h1>{{ .Site.Title }}</h1>
    </header>
    {{ range .Paginator.Pages }}
    <article>
      <small>{{ dateFormat $dateFormat .Date }}</small> <a href="{{ .Permalink }}">{{ .Title }}</a>
    </article>
    {{ end }}
    {{ $baseUrl := .Site.BaseURL }}
    {{ $paginator := .Paginator }}
    {{ if gt $paginator.TotalPages 1 }}
    <nav role="pagination">
      {{ range $paginator.Pagers }}
        {{ if eq . $paginator }}
          {{ .PageNumber }}
        {{ else }}
          <a href="{{ $baseUrl }}{{ .URL }}">{{ .PageNumber }}</a>
        {{ end }}
      {{ end }}
    </nav>
    {{ end }}
    <footer>
      {{ partial "footer.html" . }}
    </footer>
    {{ partial "twemoji.html" . }}
  </body>
</html>
